# Fichiers compilés
*.o
*.out
*.exe
*.dll
*.so
*.a
*.swo
*.swp
*.dylib

# Executable
a.out

# Fichiers générés par des outils
*.log
*.core

# Environnement de développement
*.user
*.vscode/
*.idea/
*.cproject
*.settings/
*.project

# Fichiers macOS
.DS_Store
.AppleDouble
.LSOverride

# Icônes
Icon
._*

# Fichiers temporaires
*.tmp
*.temp
*.swp
*.swo
*.bak
*~



# Dossiers spécifiques à macOS
__MACOSX/


.ipynb_checkpoints
